.container-fluid a img{
    width: 55px;
}
button.btn.btn-primary.mt-4.ml-2 {
    margin-left: 20px;
}
.sattar{
    position: relative;
    top: 0;
    left: 255px;
}
.heads{
    background-color: #E3F2FD;
    
}
.container-fluid.wwww{
    width: 1071px;
    margin-left: 71px;
}
